@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary-500: hsl(144, 49%, 47%);
  --clr-secondary-400: hsl(0, 79%, 63%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-700: hsl(0, 0%, 74%);

  --fs-sm: 0.625px;
  --fs-md: 0.875rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.5rem;

  --header-height: 5rem;
}

@layer components {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
  }
}
